# Kaggle Titanic Challenge

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
from sklearn.preprocessing import LabelEncoder
from sklearn.cross_validation import train_test_split


train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

full_set = train.append(test, ignore_index = True, sort=False)

del train, test

train_set = full_set[ :891]
train_set.describe()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Preprocessing

In [88]:
# One Hot Encode Sex
sex = pd.get_dummies(full_set.Sex)

# One Hot Encode Embarked
embarked = pd.get_dummies(full_set.Embarked, prefix='Embarked')

# One Hot Encode Pclass
pclass = pd.get_dummies(full_set.Pclass, prefix='Pclass')

# Fill in missing variables in Age, Fare with averages respectively
age = full_set.Age.fillna(full_set.Age.median())
fare = full_set.Fare.fillna(full_set.Fare.median())

# Add a new column called Title
title = pd.DataFrame()
title['Title'] = full_set.Name.map(lambda name: name.split(',')[1].split('.')[0].strip())
title_dictionary = {
                    "Capt":       "Officer",
                    "Col":        "Officer",
                    "Major":      "Officer",
                    "Jonkheer":   "Royalty",
                    "Don":        "Royalty",
                    "Sir" :       "Royalty",
                    "Dr":         "Officer",
                    "Rev":        "Officer",
                    "the Countess":"Royalty",
                    "Dona":       "Royalty",
                    "Mme":        "Mrs",
                    "Mlle":       "Miss",
                    "Ms":         "Miss",
                    "Mr" :        "Mr",
                    "Mrs" :       "Mrs",
                    "Miss" :      "Miss",
                    "Master" :    "Master",
                    "Lady" :      "Royalty"
                    }
title['Title'] = title.Title.map(title_dictionary)
title = pd.get_dummies(title.Title)

# Extract category information
cabin = pd.DataFrame()
cabin['Cabin'] = full_set.Cabin.fillna('N') # 'N' for NaN
cabin['Cabin'] = cabin['Cabin'].map(lambda x : x[0])
cabin = pd.get_dummies(cabin['Cabin'], prefix='Cabin')

In [89]:
# Assemble data sets for modeling
# Columns can be age, fare, title, cabin, SibSp, Parch, pclass, embarked, ticket
full_X = pd.concat([title, age, fare, pclass, full_set.SibSp, full_set.Parch, embarked, cabin], axis=1)
full_X.head()

train_X, test_X, train_y, test_y = train_test_split(full_X[0:891], train_set.Survived, train_size=0.7)

In [90]:
# Try different models and see which works best
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier

best_model_acc = 0
best_model = None

models = [RandomForestClassifier(), LogisticRegression(), DecisionTreeClassifier(), KNeighborsClassifier(n_neighbors=5), GaussianNB(), SVC()]
for model in models:
    curr_model = model
    curr_model.fit(train_X, train_y)
    print(model)
    training_acc = curr_model.score(train_X, train_y)
    testing_acc = curr_model.score(test_X, test_y)
    print('Training Accuracy: %s' %training_acc)
    print('Testing Accuracy: %s' %testing_acc)
    print('\n')
    if(testing_acc > best_model_acc):
        best_model_acc = testing_acc
        best_model = model
    

# Best model is LogisticRegression
print(best_model)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)
Training Accuracy: 0.9582664526484751
Testing Accuracy: 0.8805970149253731


LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)
Training Accuracy: 0.8282504012841091
Testing Accuracy: 0.8582089552238806


DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')
Training Accuracy: 0.985553772070626
Testing Accuracy: 0.7873134328358209


KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')
Training Accuracy: 0.797752808988764
Testing Accuracy: 0.7126865671641791


GaussianNB(priors=None)
Training Accuracy: 0.7736757624398074
Testing Accuracy: 0.7873134328358209


SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)
Training Accuracy: 0.8443017656500803
Testing Accuracy: 0.7388059701492538


RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [91]:
# Submitting Results
pred_y = best_model.predict(full_X[891:])
passenger_id = full_set[891:].PassengerId
test = pd.DataFrame( {'PassengerId': passenger_id, 'Survived': pred_y} )
print(test.shape)
print(test.head())
test.to_csv('titanic_pred.csv', index=False)

(418, 2)
     PassengerId  Survived
891          892       0.0
892          893       0.0
893          894       0.0
894          895       1.0
895          896       1.0